# Python basics

## use of comments

### markdown cells - is used for text



comment - used for documentation purpose 

this is a comment

ctrl+/ - for adding a comment 

removing it - ctrl+ /

In [ ]:
# select the lines and put ctrl+/

# this
# is
# a
# multi
# line
# comment

In [1]:
# there are 2 modes in a jupyter notebook-

# Edit mode - when you edit any cell - pressing the enter key , edit mode

# command mode -when we add or remove any cell etc.

In [ ]:
## a - to create cells above

## b - to create cells below

In [ ]:
## dd - to delete a cell

In [5]:
# this is the edit mode - by pressing enter the cell becomes green

# by esc , te cell gets into command code

In [6]:

# how to execute a program
# ctrl+enter - will execute the cell and put the control in the same cell.

a=7

In [ ]:
# shft enter will execute that cell and take the control to the next cell

# numeric data- how python works like a calculator

In [6]:
# addition

1+2

3

In [7]:
# substraction

8-2

6

In [8]:
#multiplication

5*4

20

In [9]:
# division

7/2

3.5

In [12]:
# remainder after division

# % - modulus operator


100 %3

1

In [14]:
# integer value after division

100//3

33

In [15]:
# check if a number is even or not
17 % 2

1

In [17]:
# exponent of a no

# 2^5 -32


2**5

32

In [21]:
# absolute value or modulus of a no

#|x| = -x for x<0

# |x| =x for x >0


abs(-5)

5

In [2]:
# log of a value

log(100)

NameError: name 'log' is not defined

In [23]:
import math

In [26]:
# once import a package, then we can access all methods and attributes avalilable by using the package.function()
# package.attribute


math.log10(100)

2.0

In [27]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [28]:
# constants
math.pi

3.141592653589793

In [29]:
# e
math.exp(1)

2.718281828459045

In [31]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [32]:
# help(function)

# function?

In [ ]:
# on the fly structure of the function

# function name shift and tab

In [33]:
# e^3

math.exp(3)

20.085536923187668

In [35]:
#2^5

pow(base=2,exp=3)

8

In [36]:
# sqrt of 100

math.sqrt(100)

10.0

In [38]:
# rounded value of a no

a=45.678262
round(a,2)

45.68

In [41]:
# floor function - gives an integer just below the particular no


math.floor(a)

45

In [42]:
# ceiling - a no just above that number

math.ceil(a)

46

In [43]:
# trignometric (radians)


math.cos(0)

1.0

In [46]:
pow(base=math.e,exp=3)

20.085536923187664

In [45]:
math.e

2.718281828459045

In [47]:
math.exp(3)

20.085536923187668

## DATA TYPES

### integer data  type

In [49]:
x=100

In [50]:
# for getting the value of x

x

100

In [51]:
print(x)

100

In [53]:
# data type of the variable
type(x)

int

In [54]:
# object x belongs to the int class

# if we want to see the instance of the class the object belongs

isinstance(x,int)

True

### float

In [55]:
y=10.3462784628

In [56]:
type(y)

float

In [58]:
isinstance(y,int)

False

In [59]:
isinstance(y,float)

True

In [60]:
x+y

110.3462784628

In [61]:
# convert a flaot into int

int(y)

10

In [62]:
# # convert a int into float

float(x)

100.0

In [63]:
x=100
x+10

110

In [64]:
print(x)

100

In [65]:
# if we assign x
x=x+10

In [66]:
x

110

In [67]:
# int +float
10+7.64378246

17.64378246

## BOOLEAN

In [68]:
x=True

In [70]:
type(x)

bool

In [71]:
y=TRUE

NameError: name 'TRUE' is not defined

In [72]:
# python is case sensitive


# True does not mean TRUE /TRUe


y=False

In [73]:
type(y)

bool

In [74]:
# boolean data type will be generated if you have any logical exp.

100>1000

False


 various logical operators

>,>=,<,<=

In [76]:
x=100

# check if the value of x is 1000

# = assignment
x=1000

In [77]:
x

1000

In [81]:
y=100

# == checks for equality operator
y==1000

False

In [82]:
# not equals operator
y !=1000

True

In [83]:
# Inf -float value

ZeroDivisionError: division by zero

In [86]:
type(float('Inf'))

float

In [87]:
type(float('-Inf'))

float

In [88]:
# NaN - not a number  (imported a variable of numeric type for missing values)

In [90]:
# any number except 0 will give a True
bool(56)

True

In [91]:
bool(-6)

True

In [92]:
bool(0)

False

### STRINGS

In [94]:
x='sakshi'

In [96]:
type(x)

str

In [97]:
y='10'

In [98]:
type(y)

str

In [99]:
#'single quote'
# "  double quote"

In [101]:
x="rahul"
x

'rahul'

In [102]:
y='my bag's colour is blue'

SyntaxError: invalid syntax (<ipython-input-102-734606cf7202>, line 1)

In [103]:
# use ""
y="my bag's colour is blue"

In [105]:
# escape character \
y='my bag\'s colour is blue'

In [106]:
x='46'

In [107]:
# converts a str into a int
int(x)

46

In [108]:
type(x)

str

In [109]:
y='neha'

int(y)

ValueError: invalid literal for int() with base 10: 'neha'

In [110]:
x='sakshi'

In [111]:
# string gets repeated 
x*2

'sakshisakshi'

In [112]:
x**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [119]:
# string[index]- value present at that index

# in python , the index starts from 0 and continues n-1 
x

'sakshi'

In [120]:
# value at the first index
x[0]

's'

In [121]:
# value at the last location 

x[-1]

'i'

In [122]:
# len -give the total no of characters
len(x)

6

In [124]:
x[len(x)-1]

'i'

### None data type

In [125]:
x= None

In [126]:
type(x)

NoneType

## data types tell us how to store values in python

# DATA STRUCTURES

## LIST

List is a ordered and changeable(mutable)

In [170]:
new_list =[1,'neha','simplilearn',True,5.9]

In [171]:
new_list

[1, 'neha', 'simplilearn', True, 5.9]

In [164]:
type(new_list)

list

In [136]:
# ordered
new_list[2]

'simplilearn'

In [141]:
# mutatble by assigning a particular value, we can change the contents of the list

new_list[3]=False

In [142]:
new_list

[1, 'neha', 'simplilearn', False, 5.9]

In [143]:
empty_list =[]

In [144]:
empty_list

[]

In [ ]:
# name_of_list. - all the methods avaliable for list class

In [172]:
# append will add at the end
new_list.append(20)

In [166]:
another_list=[3,'new']

In [173]:
new_list.append(another_list)

In [174]:
new_list

[1, 'neha', 'simplilearn', True, 5.9, 20, [3, 'new']]

In [175]:
# count - no of times the value is there
new_list.count(3)

0

In [154]:
# index gives the location of the value
new_list.index('neha')

1

In [157]:
# insert new at the 3rd index
new_list.insert(3,'new')

In [180]:
print(new_list)

[1, 'simplilearn', True, 5.9, 20, [3, 'new']]

In [185]:
# reverse the contents
new_list.reverse()

In [184]:
new_list

[[3, 'new'], 20, 5.9, 'simplilearn', 1]

In [181]:
# pop method will remove the value by giving the index and will return the value which is removed
new_list.pop(2)

True

In [190]:
list1 =[1,200,3,5,129]

In [191]:
list1.sort()

In [192]:
list1

[1, 3, 5, 129, 200]

In [ ]:
# name of the list. and then tab

In [146]:
# add this list to another list

In [147]:
new_list +another_list

[1, 'neha', 'simplilearn', False, 5.9, 3, 'new']

In [149]:
# extending the contents of the list and saving it in the original


new_list.extend(another_list)

In [150]:
new_list

[1, 'neha', 'simplilearn', False, 5.9, 3, 'new']