In [1]:
# Sets - {} or set()

In [ ]:
# removes duplicates
# set function will allow you to either tuple or list inside of it

In [2]:
x = {1, 2, 4, 4, 4, 5, 6, 7}

In [3]:
x

{1, 2, 4, 5, 6, 7}

In [4]:
type(x)

set

In [6]:
y = set(('foo', 'bar', 'green', 'yellow'))

In [7]:
type(y)

set

In [11]:
y

{'bar', 'foo', 'green', 'yellow'}

In [9]:
z = set((1, 4, 9, 8, 7, 7))

In [10]:
z

{1, 4, 7, 8, 9}

In [12]:
type(z)

set

In [13]:
p = set([1, 2, 4, 4, 4, 5, 6, 7])

In [14]:
p

{1, 2, 4, 5, 6, 7}

In [15]:
type(p)

set

In [16]:
string = "python"

In [17]:
list(string) # ordered

['p', 'y', 't', 'h', 'o', 'n']

In [18]:
set(string) #unordered

{'h', 'n', 'o', 'p', 't', 'y'}

In [19]:
# # Common data between two files
# a = file1
# b = file2
# res = set(a&b)

In [23]:
num = '13456443659988'

In [24]:
set(num)

{'1', '3', '4', '5', '6', '8', '9'}

In [25]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [27]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

False

In [29]:
thisset = {"apple", "banana", "cherry"}

print("kiwi" in thisset)

False

In [30]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'orange', 'apple', 'kiwi', 'banana'}

In [31]:
tupleset = {"apple", "banana", "cherry"}
mytuple = ("kiwi", "orange")

tupleset.update(mytuple)

print(tupleset)

{'cherry', 'orange', 'apple', 'kiwi', 'banana'}

In [32]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [34]:
floatset = {1, 24.544, 'kiwi'}
tupleset = (2, 5, 3.666, 'apple')
floatset.update(tupleset)
print(floatset)

{1, 2, 3.666, 5, 'apple', 24.544, 'kiwi'}

In [35]:
floatset.remove('kiwi')

In [36]:
floatset

{1, 2, 24.544, 3.666, 5, 'apple'}

In [37]:
floatset.remove('apple')

In [38]:
floatset

{1, 2, 3.666, 5, 24.544}

In [39]:
floatset.remove(99)

KeyError: 99

In [40]:
floatset.discard(88)

In [41]:
floatset.remove(88)

KeyError: 88

In [42]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [43]:
# Pop - it removes the last item either from list, tuple or set
# removes means it holds the removed item temporarily in the memory
# if you store it somewhere, it retains otherwise it will cleared up the memory

In [55]:
a = [1,2,6,8]

In [56]:
b = a.pop()

In [57]:
a

[1, 2, 6]

In [58]:
b

8

In [59]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [60]:
thisset = {"apple", "banana", "cherry"}

In [61]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [62]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [63]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [64]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [65]:
x

{'apple', 'banana', 'cherry'}

In [66]:
y

{'apple', 'google', 'microsoft'}