In [1]:
print("abc. DEF".capitalize())

Abc. def

In [2]:
print('*', "abcde".center(6), '*', sep='')

*abcde *

In [3]:
import math
print(math.pow(3, 2))

9.0

In [4]:
# To print ASCII values, we use ord()
ord("A")

65

In [5]:
ord("5")

53

In [6]:
# To print character from ASCII values, we use chr()
chr(65)

'A'

In [7]:
a = 24
b = 31
c = "Hello"

In [9]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'str'>

In [10]:
d = 3.02234

In [11]:
type(d)

float

In [12]:
# Type Casting - converting from one type of varaible to another type of variable
e = int(d)
print(type(e))

<class 'int'>

In [13]:
e

3

In [14]:
int(3.34334)

3

In [15]:
float(5566)

5566.0

In [17]:
type(str(445))

str

In [18]:
str1 = str(445)

In [19]:
type(str1)

str

In [20]:
1v = "Hello"

SyntaxError: invalid syntax (<ipython-input-20-ab76225a5898>, line 1)

In [21]:
ab = 45
AB = "Fortyfive"
Ab = 3.45556

In [22]:
ab

45

In [23]:
AB

'Fortyfive'

In [24]:
Ab

3.45556

In [25]:
bA

NameError: name 'bA' is not defined

In [26]:
ab_c = 456

In [27]:
ab%c = 34

SyntaxError: cannot assign to operator (<ipython-input-27-33e2651db93a>, line 1)

In [28]:
ab#c = 45

45

In [29]:
ab*c = 456

SyntaxError: cannot assign to operator (<ipython-input-29-50732488a7cd>, line 1)

In [30]:
A23b = "Hello"

In [31]:
2AAB = "Python"

SyntaxError: invalid syntax (<ipython-input-31-bd67dccc0b79>, line 1)

In [32]:
# Concatenation symbol ?? +

In [33]:
"Hello"+"World"

'HelloWorld'

In [34]:
"Hello"*3

'HelloHelloHello'

In [35]:
"Hello"+3

TypeError: can only concatenate str (not "int") to str

In [36]:
# String Formating .format()

In [37]:
age = 36
txt = "My name is John, I am " + age

TypeError: can only concatenate str (not "int") to str

In [38]:
age = 36
txt = "My name is John, and I am {}"
txt.format(age)

'My name is John, and I am 36'

In [39]:
print(txt.format(age))

My name is John, and I am 36

In [40]:
txt.format(67)

'My name is John, and I am 67'

In [41]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(itemno, quantity, price))

I want 567 pieces of item 3 for 49.95 dollars.

In [42]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.