### Functions

In [2]:
# Write a function to add numbers provided

In [3]:
def addition(a,b):
    c=a+b
    print("Addition of Numbers",c)

In [4]:
addition(2,3)

Addition of Numbers 5

In [5]:
addition(100,200)

Addition of Numbers 300

In [6]:
# Function should return the results

In [7]:
def add1(a,b):
    return a+b

In [8]:
add1(2,4)

6

In [9]:
add1(443,332)

775

In [11]:
def add1(a=2,b=3):
    return a+b

In [12]:
add1()

5

In [13]:
add1(4,5)

9

In [14]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [15]:
# input parameters missing
my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [16]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [27]:
def my_function(kids,*fname):
    print("The youngest child is " + kids[2])
    print("The First name is:", fname)

my_function("Emil", "Tobias", "Linus")

The youngest child is i
The First name is: ('Tobias', 'Linus')

In [28]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [29]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [54]:
def add_func(**a):
    return a

In [51]:
add_func(Name='Student1',Age=33,Profession='Software')

{'Name': 'Student1', 'Age': 33, 'Profession': 'Software'}

In [74]:
def add_func1(*a):
    sum = 0
    for i in a:
        sum = sum+i
    return(sum)

In [80]:
add_func1(2,3,4,6,533,3333)

3881

In [98]:
def add_func1(*a):
    global sum1
    sum1 = 0
    for i in a:
        sum1 = sum1+i
    print("The sum of input sequence is:",sum1)

In [97]:
add_func1(2,3,4,6,533,3333)

The sum of input sequence is: 3881

In [83]:
add_func1(4,5)

The sum of input sequence is: 9

In [84]:
add_func1(43,455,322,4555,3322,22222)

The sum of input sequence is: 30919

In [99]:
# Access global variable outside the function
print(sum1)

3881

In [101]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [102]:
def my_function(x):
    return 5 * x

In [105]:
my_function(6)

30

In [108]:
if 2>3:
    print("greater")
else:
    pass

In [109]:
if 2<3:
    print("greater")
else:
    pass

greater

In [114]:
def myfunction1():
    pass

In [111]:
myfunction1()

In [115]:
# call same function with in the function itself
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [120]:
tri_recursion(1)

1

1

In [122]:
tri_recursion(4)

7

7

In [123]:
# 4
# 4+3
# 5
# 5+4
# 6
# 6+5

In [125]:
# 1
# 2+1
# 3+2+1
# 4+3+2+1
# ...