In [6]:
def ownfunc(n):
    return n*n # replacing n*n with another function

In [7]:
ownfunc(2)

4

In [11]:
type(ownfunc)

function

### Functions with in a Functions

In [8]:
x = lambda a: a+5

In [10]:
type(x)

function

In [9]:
x(2)

7

In [4]:
# def func(n):
#     return another function

# without modifying the original logic we can create our custom functions on top of it

def myfunc(n):
    return lambda a : a * n  # small function  (nested functions)

In [5]:
myfunc(2)

In [2]:
doubler = myfunc(2)

In [3]:
type(doubler)

function

In [12]:
doubler(4)  # 4 x 2

8

In [13]:
doubler(5)

10

In [14]:
doubler(6)

12

In [15]:
tripler = myfunc(3)

In [16]:
tripler(3)

9

In [17]:
tripler(4)

12

In [18]:
tripler(5)

15

In [19]:
tripler(8)

24

In [20]:
def filterfunc(n):
    if n < 18:
        return False
    else:
        return True

In [21]:
ages = [15,12,26,29,32,45,47,52,61]

In [22]:
adults = filter(filterfunc,ages)

In [23]:
type(adults)

filter

In [25]:
for i in adults:
    print(i)

26
29
32
45
47
52
61

In [27]:
def filterevenodd(n):
    if n%2 == 0:
        return True
    else:
        return False

In [28]:
lst1 = [2,6,3,5,12,19,21,27,29]

In [29]:
even = filter(filterevenodd,lst1)

In [30]:
for i in even:
    print(i)

2
6
12

In [31]:
lst1 = [2,6,3,5,12,19,21,27,29]

In [32]:
for i in lst1:
    if i%2 == 0:
        print(i)

2
6
12

In [33]:
sum = 0
for i in lst1:
    sum+=i

print(sum)

124