In [1]:
# Conditional Statements - IF..ELSE.. or IF..ELIF..ELSE..
# Syntax
# if(<cond>):
# ...<body>
# ...<body>

In [2]:
# Equality
2 == 3

False

In [3]:
# Equality
3 == 3

True

In [5]:
2 > 3

False

In [6]:
2 < 3

True

In [7]:
2 >= 3

False

In [8]:
4 >= 10

False

In [9]:
5 <= 2

False

In [14]:
a=6
if(a):
    print("a is defined")
else:
    print("a is not defined")

a is defined

In [18]:
# if any variable is a non-zero or null value, it return "False"

In [19]:
# Find the largest number from x & y
x = 9
y = 13

if(x>y):
    print(x)
else:
    print(y)

13

In [20]:
# Find the largest number from x,y,z
x=45
y=99
z=129

if((x>y) and (x>z)):
    print(x)
elif((y>x) and (y>z)):
    print(y)
else:
    print(z)

129

In [21]:
# Find the largest number from x,y,z
x=145
y=199
z=129

if((x>y) and (x>z)):
    print(x)
elif((y>x) and (y>z)):
    print(y)
else:
    print(z)

199

In [22]:
# Nested if...

if(x>y):
    if(x>z):
        print(x)
elif(y>x):
    if(y>z):
        print(y)
else:
    print(z)

199

In [23]:
# Interactive mode - Take input from user during program execution
# input("")

In [24]:
x = input("Enter the x value: ")
y = input("Enter the y value: ")
z = input("Enter the z value: ")
if((x>y) and (x>z)):
    print(x)
elif((y>x) and (y>z)):
    print(y)
else:
    print(z)

Enter the x value: 67785
Enter the y value: 4554
Enter the z value: 6665
67785

In [25]:
# Automation - ??
# x,y,z - from other source ?? csv,database,etc.,

In [26]:
"hi" + 6.3

TypeError: can only concatenate str (not "float") to str

In [28]:
"hi" + str(6.3)

'hi6.3'

In [29]:
max(x,y,z)

'67785'

In [30]:
min(x,y,z)

'4554'

In [1]:
#Indentation impact
# Find the largest number from x & y
x = 9
y = 13

if(x>y):
print(x)
else:
print(y)

IndentationError: expected an indented block after 'if' statement on line 6 (2100504525.py, line 7)

In [7]:
x = 9
y = 13

print("x value",x) if x>y else print('y value',y)

y value 13

In [8]:
# if x>y:
#     print("X value",x)
# else:
#     print('Y value',y)
# elif:

In [12]:
print("x & y are equal") if x==y else print("x is greater") if x>y else print('y is greater')

y is greater

In [13]:
x=y=13
print("x & y are equal") if x==y else print("x is greater") if x>y else print('y is greater')

x & y are equal

In [14]:
x=2334
y=3123444
print("x & y are equal") if x==y else print("x is greater") if x>y else print('y is greater')

y is greater

In [19]:
a=5
b=5
if a>b:
    print(a)
else:
    pass #do nothing

In [20]:
# #input:
# Enter the year: 2020

# #output:
    
# this is a leap year
# This is not a leap year

In [41]:
# year = int(input("Enter the year = "))
# print("year is a leap year") if ((year % 4 == 0) or (year % 100 == 0) or (year % 400 == 0)) else print("year is a not leap year")

In [24]:
2020%4

0

In [25]:
2020%100

20

In [26]:
2020%400

20

In [27]:
4/2

2.0

In [28]:
4%2

0

In [29]:
6%2

0

In [67]:
# year=int(input("Enter the year: "))
# leap=False

# if (y%400 == 0) or not(y%100 ==0) and (y%4 == 0):
#     leap=True

# if (y != 1700 or y != 1800 or y != 1900):
#     leap=False

# if leap:
#     print("Leap year")
# else:
#     print("Not leap year")

Enter the year: 1600
Not leap year

In [68]:
1600%400

0

In [69]:
1600%4

0

In [70]:
1600%100

0

In [5]:
# working code
y=int(input("Enter the year: "))
leap=False
if(y%400 == 0) or not(y%100 == 0) and (y%4 == 0):
    leap=True
    
if leap:
    print("leap year")
else:
    print("not leap year")

Enter the year: 1644
leap year